* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: "Lexend", sans-serif;
}

li {
  list-style-type: none;
}

@media screen and (max-width: 992px) {
  main .window {
    height: 300px !important;
  }
}

.head {
  height: 120px;
}
.head ul {
  display: flex;
}
.head ul:nth-of-type(1) {
  background-color: white;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  cursor: pointer;
}
.head ul:nth-of-type(2) {
  height: 100%;
  padding-top: 20px !important;
  padding-left: 27px !important;
  text-align: center;
}
.head ul:nth-of-type(2) figure {
  padding-left: 5px !important;
}
.head ul:nth-of-type(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
.head ul:nth-of-type(3) ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 118px;
  left: 0px;
}

.sub-menu-fig {
  margin-bottom: 11px !important;
}
.sub-menu-fig:hover div {
  height: 500px;
}
.sub-menu-fig:hover figure {
  border-bottom: 3px solid #d5001c;
  padding-bottom: 17px !important;
  z-index: 3 !important;
}
.sub-menu-fig:hover figure figcaption {
  color: #d5001c;
}
.sub-menu-fig:hover a {
  border-bottom: 3px solid #d5001c;
  padding-bottom: 51px !important;
  z-index: 3 !important;
  color: #d5001c !important;
}
.sub-menu-fig:hover a i {
  color: #d5001c;
}
.sub-menu-fig:hover ul li figure {
  border: none;
}
.sub-menu-fig div {
  transition: 50ms;
  height: 0;
  overflow: hidden;
  margin-top: 2px !important;
}
.sub-menu-fig div h4, .sub-menu-fig div span {
  transition: 0.2s;
  cursor: pointer;
}
.sub-menu-fig div h4:hover, .sub-menu-fig div span:hover {
  color: #d5001c !important;
}

.p718 {
  height: 200px !important;
}
.p718 li {
  transition: 0.2s;
}
.p718 li:nth-of-type(3):hover, .p718 li:nth-of-type(4):hover, .p718 li:nth-of-type(5):hover {
  color: #d5001c;
  cursor: pointer;
}

.c718 {
  transition: 0.4s;
}
.c718 li {
  font-size: 18px !important;
  transition: 0.4s;
}
.c718 li:hover {
  background: #000 !important;
  color: white;
  cursor: pointer;
}

.c911 {
  transition: 0.4s;
}
.c911 li {
  font-size: 17px !important;
  transition: 0.4s;
  cursor: pointer;
}
.c911 li:hover {
  background: #000 !important;
  color: white;
}

.sub-menu-fig2 {
  margin-bottom: 11px !important;
}
.sub-menu-fig2:hover div {
  height: 850px;
}
.sub-menu-fig2:hover figure {
  border-bottom: 3px solid #d5001c;
  padding-bottom: 17px !important;
  z-index: 3 !important;
}
.sub-menu-fig2:hover figure figcaption {
  color: #d5001c;
}
.sub-menu-fig2:hover a {
  border-bottom: 3px solid #d5001c;
  padding-bottom: 51px !important;
  z-index: 3 !important;
  color: #d5001c !important;
}
.sub-menu-fig2:hover a i {
  color: #d5001c;
}
.sub-menu-fig2:hover ul li figure {
  border: none;
}
.sub-menu-fig2 div {
  transition: 50ms;
  height: 0;
  overflow: hidden;
  margin-top: 2px !important;
}
.sub-menu-fig2 div h4, .sub-menu-fig2 div span {
  transition: 0.2s;
  cursor: pointer;
}
.sub-menu-fig2 div h4:hover, .sub-menu-fig2 div span:hover {
  color: #d5001c !important;
}

.menuMobile li figure {
  cursor: pointer;
  transition: 0.3s;
}
.menuMobile li figure:hover figcaption {
  color: #d5001c;
}
.menuMobile li:nth-of-type(2), .menuMobile li:nth-of-type(3), .menuMobile li:nth-of-type(4) {
  cursor: pointer;
  transition: 0.3s;
}
.menuMobile li:nth-of-type(2):hover, .menuMobile li:nth-of-type(3):hover, .menuMobile li:nth-of-type(4):hover {
  color: #d5001c;
}
.menuMobile i {
  cursor: pointer;
  transition: 0.3s;
}
.menuMobile i:hover {
  color: #d5001c;
}

#toggle {
  width: 35px;
  height: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  cursor: pointer;
  overflow: hidden;
}
#toggle span {
  display: flex;
  width: 80%;
  height: 1.8px;
  background: #000;
  border-radius: 2px;
  transition: 0.2s;
}
#toggle span:nth-of-type(1) {
  transform-origin: top left;
}
#toggle span:nth-of-type(3) {
  transform-origin: bottom left;
}

#mobile {
  transition: 1s;
  transform: translateX(-200%);
}

.sliideTop {
  width: 100%;
  height: 580px;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
}
.sliideTop figure {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.sliideTop figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sliideTop figure:nth-of-type(1) {
  animation-name: img1;
}
.sliideTop figure:nth-of-type(2) {
  animation-name: img2;
}
.sliideTop figure:nth-of-type(3) {
  animation-name: img3;
}
.sliideTop figure:nth-of-type(4) {
  animation-name: img4;
}
@keyframes img1 {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  26% {
    left: -100%;
  }
  26.1% {
    left: 100%;
  }
  94% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes img2 {
  0% {
    left: 100%;
  }
  20% {
    left: 100%;
  }
  26% {
    left: 0;
  }
  54% {
    left: 0;
  }
  59% {
    left: -100%;
  }
  59.21% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes img3 {
  0% {
    left: 100%;
  }
  54% {
    left: 100%;
  }
  59% {
    left: 0;
  }
  74% {
    left: 0;
  }
  79% {
    left: -100%;
  }
  79.31% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes img4 {
  0% {
    left: 100%;
  }
  74% {
    left: 100%;
  }
  79% {
    left: 0;
  }
  94% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.sliideTop figure figcaption {
  width: 100%;
  height: 70px;
  color: #f1f1f1;
  font-size: 20px;
  position: absolute;
  bottom: 30px;
  left: 35px;
  cursor: pointer;
  transition: 0.3s;
}
.sliideTop figure figcaption i {
  color: #d5001c;
}
.sliideTop figure figcaption:hover {
  color: #d5001c;
}
.sliideTop:hover figure {
  animation-play-state: paused;
}

.models div div div:nth-of-type(2) ul li figure {
  position: relative;
}
.models div div div:nth-of-type(2) ul li figure figcaption {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0%;
  left: 0%;
}
.models div div div:nth-of-type(2) ul li figure figcaption .box-btn div div:nth-of-type(1) {
  background-color: white;
  color: black;
  transition: 0.4s;
  cursor: pointer;
}
.models div div div:nth-of-type(2) ul li figure figcaption .box-btn div div:nth-of-type(1):hover {
  background-color: #d5001c;
  color: white;
}
.models div div div:nth-of-type(2) ul li figure figcaption .box-btn div div:nth-of-type(2) {
  border: 1px solid white;
  color: white;
  transition: 0.4s;
  cursor: pointer;
}
.models div div div:nth-of-type(2) ul li figure figcaption .box-btn div div:nth-of-type(2):hover {
  border: 1px solid #d5001c;
  color: #d5001c;
}
.models div div div:nth-of-type(2) ul li figure figcaption h2:nth-of-type(1) {
  transition: 0.3s;
  cursor: pointer;
}
.models div div div:nth-of-type(2) ul li figure figcaption h2:nth-of-type(1):hover {
  color: #d5001c !important;
}

.busslide {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px !important;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.busslide .wrapper .carousel {
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  scroll-behavior: smooth;
}
.busslide .wrapper {
  max-width: 1200px;
  position: relative;
}
.busslide .wrapper i {
  top: 50%;
  height: 46px;
  width: 46px;
  cursor: pointer;
  position: absolute;
  font-size: 1.2rem;
  background-color: #f1f1f1;
  text-align: center;
  line-height: 46px;
  transform: translateY(-50%);
  transition: 0.3s;
}
.busslide .wrapper i:first-child {
  left: -89px;
  display: none;
}
.busslide .wrapper i:last-child {
  right: -99px;
}
.busslide .wrapper i:hover {
  background-color: #d5001c;
  color: #f1f1f1;
  cursor: pointer;
}
.busslide .carousel {
  width: 100% !important;
  height: 100% !important;
}
.busslide .carousel img {
  height: 270px;
  width: 33.3333333333%;
  margin-left: 14px !important;
}
.busslide .carousel img:first-child {
  margin-left: 0px;
}
.busslide .carousel .dragging {
  cursor: grab;
  scroll-behavior: auto;
}
.busslide .carousel .dragging img {
  pointer-events: none;
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: 50% !important;
  }
}
@media screen and (max-width: 550px) {
  .carousel img {
    width: 100% !important;
  }
}
.tools figure {
  cursor: pointer;
}
.tools figure figcaption {
  bottom: 17px;
  color: #ffffff;
  transition: 0.4s;
}
.tools figure figcaption i {
  color: #d5001c;
}
.tools figure:hover figcaption {
  color: #d5001c;
}

.PorscheSocial {
  display: grid;
  width: 1000px;
  height: 700px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}
.PorscheSocial figure {
  position: relative;
  transition: 0.4s;
}
.PorscheSocial figure::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 0%;
  display: flex;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 56.35%, rgba(0, 0, 0, 0.3) 74.03%, rgba(0, 0, 0, 0.65) 100%);
  bottom: 0%;
  left: 0;
  transition: 0.4s;
}
.PorscheSocial figure:hover {
  cursor: pointer;
}
.PorscheSocial figure:hover::after {
  height: 100%;
}
.PorscheSocial figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.PorscheSocial figure:nth-of-type(1) {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  background-color: red;
}
.PorscheSocial figure:nth-of-type(2) {
  grid-column: 3/span 1;
  grid-row: 1/span 1;
  background-color: yellow;
}
.PorscheSocial figure:nth-of-type(3) {
  grid-column: 4/span 1;
  grid-row: 1/span 1;
  background-color: green;
}
.PorscheSocial figure:nth-of-type(4) {
  grid-column: 5/span 2;
  grid-row: 1/span 2;
  background-color: blue;
}
.PorscheSocial figure:nth-of-type(5) {
  grid-column: 1/span 1;
  grid-row: 3/span 1;
  background-color: yellowgreen;
}
.PorscheSocial figure:nth-of-type(6) {
  grid-column: 2/span 1;
  grid-row: 3/span 1;
  background-color: purple;
}
.PorscheSocial figure:nth-of-type(7) {
  grid-column: 3/span 2;
  grid-row: 2/span 2;
  background-color: hotpink;
}
.PorscheSocial figure:nth-of-type(8) {
  grid-column: 5/span 1;
  grid-row: 3/span 1;
  background-color: aqua;
}
.PorscheSocial figure:nth-of-type(9) {
  grid-column: 6/span 1;
  grid-row: 3/span 1;
  background-color: rgb(173, 171, 32);
}
.PorscheSocial figure figcaption {
  background-color: rgb(40, 40, 40);
  width: 50px;
  height: 50px;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.load span {
  cursor: pointer;
  transition: 0.3s;
  background-color: rgb(40, 40, 40);
}
.load span:hover {
  background-color: #d5001c !important;
}

.discover figure {
  cursor: pointer;
  transition: 0.3s;
}
.discover figure figcaption {
  font-size: 14px;
}
.discover figure figcaption i {
  color: #d5001c;
}
.discover figure:hover {
  color: #d5001c;
}

.footOne ul li {
  cursor: pointer;
  padding: 5px !important;
}
.footOne ul li:hover {
  color: #d5001c;
}
.footOne ul div {
  background: rgb(46, 46, 46);
  color: #ffffff;
}
.footOne select {
  background-color: rgb(73, 73, 73) !important;
  color: #f1f1f1;
  cursor: pointer;
}

.icon div {
  transition: 0.2s;
  height: 50.1px !important;
  margin-bottom: 66px !important;
  background-color: rgb(76, 76, 76);
  color: #ffffff;
}
.icon div ul {
  overflow: hidden;
  height: 1px !important;
  border: 1px solid gray;
  cursor: pointer;
}
.icon div:hover ul {
  overflow: visible;
  height: 100px !important;
  background-color: #ffffff;
  cursor: pointer;
}
.icon div:hover ul i:nth-of-type(1) {
  color: rgb(44, 44, 184);
}
.icon div:hover ul i:nth-of-type(2) {
  color: skyblue;
}
.icon div:hover ul i:nth-of-type(3) {
  color: #000;
}
.icon div:hover ul i:nth-of-type(4) {
  color: rgb(45, 45, 255);
}
.icon div:hover ul i:nth-of-type(5) {
  color: #d5001c;
}
.icon div:hover {
  background-color: #d5001c;
  cursor: pointer;
}
.icon li {
  cursor: pointer;
}
.icon li:hover {
  color: #d5001c;
}
.icon section li {
  background: rgb(46, 46, 46) !important;
  color: #ffffff;
}
.icon section li:nth-of-type(2), .icon section li:nth-of-type(3) {
  transition: 0.3s;
  cursor: pointer;
}
.icon section li:nth-of-type(2):hover, .icon section li:nth-of-type(3):hover {
  background-color: #d5001c !important;
  color: #ffffff !important;
}
.icon section li:nth-of-type(1), .icon section li:nth-of-type(4), .icon section li:nth-of-type(5) {
  transition: 0.3s;
  cursor: pointer;
}
.icon section li:nth-of-type(1):hover, .icon section li:nth-of-type(4):hover, .icon section li:nth-of-type(5):hover {
  background-color: #2c2cb9 !important;
  color: #ffffff !important;
}

.icn ul li {
  cursor: pointer;
}
.icn ul li:hover {
  color: #d5001c;
}

.footeend {
  color: #ffffff;
}
.footeend a {
  color: #ffffff;
  transition: 0.2s;
  font-size: 14px;
  cursor: pointer;
}
.footeend a:hover {
  color: #d5001c;
  text-decoration: none;
}/*# sourceMappingURL=index-porsche.css.map */